<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.post.mapper.PostMapper">

    <select id="getList" resultType="post">
        SELECT *
          FROM POST
    </select>

    <insert id="insert">
      INSERT INTO POST (NAME, CONTENT, REGDATE)
      VALUES (#{name}, #{content}, NOW())
    </insert>

    <delete id="delete">
      DELETE FROM POST
      WHERE IDX=#{idx}
    </delete>

</mapper>